<ul class="social-links mt-1">
  <li>
    <a target="_blank" href="#" title="RSS">
      <i class="iconify w-4 h-4" data-icon="mdi:rss"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://twitter.com/" title="Twitter">
      <i class="iconify w-4 h-4" data-icon="mdi:twitter"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.facebook.com/" title="Facebook">
      <i class="iconify w-4 h-4" data-icon="mdi:facebook"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.instagram.com/" title="Instagram">
      <i class="iconify w-4 h-4" data-icon="mdi:instagram"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://dribbble.com/" title="Dribbble">
      <i class="iconify w-4 h-4" data-icon="mdi:dribbble"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://weibo.com/" title="Sina Weibo">
      <i class="iconify w-4 h-4" data-icon="mdi:sina-weibo"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="#" title="QQ">
      <i class="iconify w-4 h-4" data-icon="mdi:qqchat"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://t.me/" title="Telegram">
      <i class="iconify w-4 h-4" data-icon="mdi:telegram"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="mailto:#" title="Email">
      <i class="iconify w-4 h-4" data-icon="mdi:email"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://github.com/" title="GitHub">
      <i class="iconify w-4 h-4" data-icon="mdi:github"></i>
    </a>
  </li>
</ul>
