---
import IconMdiRss from "~icons/mdi/rss";
import IconMdiTwitter from "~icons/mdi/twitter";
import IconMdiFacebook from "~icons/mdi/facebook";
import IconMdiInstagram from "~icons/mdi/instagram";
import IconMdiDribbble from "~icons/mdi/dribbble";
import IconMdiSinaWeibo from "~icons/mdi/sina-weibo";
import IconMdiQQChat from "~icons/mdi/qqchat";
import IconMdiTelegram from "~icons/mdi/telegram";
import IconMdiEmail from "~icons/mdi/email";
import IconMdiGithub from "~icons/mdi/github";
---

<ul class="social-links mt-1">
  <li>
    <a target="_blank" href="#" title="RSS">
      <IconMdiRss class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://twitter.com/" title="Twitter">
      <IconMdiTwitter class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.facebook.com/" title="Facebook">
      <IconMdiFacebook class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.instagram.com/" title="Instagram">
      <IconMdiInstagram class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://dribbble.com/" title="Dribbble">
      <IconMdiDribbble class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://weibo.com/" title="Sina Weibo">
      <IconMdiSinaWeibo class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="#" title="QQ">
      <IconMdiQQChat class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://t.me/" title="Telegram">
      <IconMdiTelegram class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="mailto:#" title="Email">
      <IconMdiEmail class="w-4 h-4" />
    </a>
  </li>

  <li>
    <a target="_blank" href="https://github.com/" title="GitHub">
      <IconMdiGithub class="w-4 h-4" />
    </a>
  </li>
</ul>
